.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 3rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  width: 300px;
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  font-family: var(--ifm-heading-font-family);
}

.sidebarItemList {
  font-size: 0.9rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}

.hero {
  align-items: center;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base-inverse);
  display: flex;
  padding: 2rem;
}

.heroTitle {
  font-size: 2rem !important;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}

.heroDesc {
  margin-bottom: 0;
}

.cateHeader {
  font-size: 1rem;
  font-weight: 600;
}

.cateHeader > h2 {
  font-family: sans-serif;
}

.cateBody {
  display: flex;
  padding: 0 1rem;
}

.resourceList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 0;
}
