@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #008cbf;
  --ifm-color-primary-dark: #1E97C5;
  --ifm-color-primary-darker: #1895C4;
  --ifm-color-primary-darkest: #008CBF;
  --ifm-color-primary-light: #068EC0;
  --ifm-color-primary-lighter: #1498C8;
  --ifm-color-primary-lightest: #31ABD7;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Roboto", sans-serif;
  --ifm-font-size-base: 16px;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
  --ifm-footer-background-color: transparent;
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 3);
  --ifm-global-radius: 0.3rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5CC7EE;
  --ifm-color-primary-dark: #6ACDF1;
  --ifm-color-primary-darker: #78D3F4;
  --ifm-color-primary-darkest: #008cbf;
  --ifm-color-primary-light: #95DEF9;
  --ifm-color-primary-lighter: ##5CC7EE;
  --ifm-color-primary-lightest: #B1EAFF;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 30%);
}

.hero__title {
  text-overflow: ellipsis;
}

/* global-styles.css */
.markdown p {
  text-align: justify;
}

.justified {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.justified > p {
  text-align: justify;
}

.about {
  padding: 4rem 0;
  text-align: center;
}

.avatar-1 {
  border-radius: 50%;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.about-title {
  text-align: left;
}

.avatar-container {
  margin: auto;
}

.svg_row {
  gap: 15px;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

div[class^='announcementBar_'] {
  background: repeating-linear-gradient(
    -35deg,
    rgb(255 255 255 / 80%),
    rgb(232 244 250 / 80%) 20px,
    rgb(240 240 240 / 80%) 10px,
    rgb(240 240 240 / 80%) 40px
  );
  font-weight: 700;
}

/* Responsive Desing */
@media (480px <= width <= 768px) {
  .heroBanner {
    padding: 2rem;
  }
}
@media only screen and (max-width: 996px) {
  .blog-wrapper > .container > .row {
    display: flex;
  }

  .bloginfo {
    display: none;
  }

  .blog__recommend {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* post list view adjustment */
@media only screen and (max-width: 700px) {
  .bloghome__posts-grid {
    row-gap: 16px;
    grid-template-columns: minmax(0, max-content);
  }

  .post__list-item {
    min-width: 24rem;
  }

  .blog__recommend {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .main-wrapper h1,
  .markdown > h1 {
    font-size: 1.6em;
  }

  .markdown > h2 {
    font-size: 1.4em;
  }

  .markdown > h3 {
    font-size: 1.2em;
  }

  .post__date-container {
    margin-bottom: 1em !important;
  }
}

@media (max-width: 1100px) {
  .navbar > .container,
  .navbar > .container-fluid {
    padding: 0;
  }

  .navbar__toggle {
    display: inherit;
  }

  .navbar__item {
    display: none;
  }

  .navbar__search-input {
    width: 9rem;
  }

  .navbar-sidebar {
    display: block;
  }
}
